################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/phishingderby.github.io/CopilotIndices/18.8.1096.64007
/.vs/phishingderby.github.io.slnx/FileContentIndex
/.vs/phishingderby.github.io.slnx/config
/.vs/slnx.sqlite
